### Exploring Northwind database using SQL

The Northwind database was originally created by Microsoft. In this exercise, I explore the Northwind database using Postgre SQL.

In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# Create 
engine = create_engine('postgresql+psycopg2://tharinduabeysinghe:####@localhost/northwind')

# Run quey and load data to a dataframe
def execute_sql_query(sql):
    # Load data into a pandas DataFrame
    df = pd.read_sql_query(sql, con=engine)
    return df

In [6]:
# Define your SQL query
sql = "SELECT * FROM categories;"

output = execute_sql_query(sql)
output

,category_id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",[]
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",[]
2,3,Confections,"Desserts, candies, and sweet breads",[]
3,4,Dairy Products,Cheeses,[]
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",[]
5,6,Meat/Poultry,Prepared meats,[]
6,7,Produce,Dried fruit and bean curd,[]
7,8,Seafood,Seaweed and fish,[]

### Common Table Expressions (CTEs)
A CTE is a named temporary result set. CTEs are defined using WITH keyword and used as a subquery. A CTE can be referenced within a single query (SELECT, INSERT, UPDATE, or DELETE) statement. A CTE is created only in the memory, not as a table in the database. Once the query is cancelled, the CTE is not available anymore.